@font-face {
    font-family: 'Calibri';
    src: 
        url('../../../../fonts/calibri/hinted-Calibri.woff2') format('woff2'),
        url('../../../../fonts/calibri/hinted-Calibri.woff') format('woff'),
        url('../../../../fonts/calibri/hinted-Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: 
        url('../../../../fonts/calibri/hinted-Calibri-Bold.woff2') format('woff2'),
        url('../../../../fonts/calibri/hinted-Calibri-Bold.woff') format('woff'),
        url('../../../../fonts/calibri/hinted-Calibri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    
}

#content-img-generate{
    font-family: 'Calibri';
}

#content-img{
    position:absolute;
    top:0px;
    left:0px;
    overflow-wrap: normal;
    white-space: nowrap;
    text-transform: uppercase;
}

#capture {
    display:none;
    position: relative;
}

#title-img {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

#descr-img {
    text-align: center;
    font-size: 23px;
    overflow-wrap: break-word;
    text-transform: uppercase;
}

#description-product {
    width: 720px;
    height: 40px;
    position: absolute;
    top: 845px;
    line-height: 35px;
    text-transform: uppercase;
}

#price-desc {
    top: 864px;
    left: 512px;
    width: 90px; /* Largura do círculo */
    height: 90px; /* Altura do círculo */
    border-radius: 50%; /* Faz o elemento se tornar um círculo */
    background: #c81917;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    justify-content: center; /* Centraliza conteúdo na vertical */
    align-items: center; /* Centraliza conteúdo na horizontal */
    color: white; /* Cor do texto */
    font-family: "Calibri";
    font-weight: bold;
    position: absolute; /* Necessário para o ajuste fino da posição do texto */
}

#tachado{
    height: 3px;
    width: 167px;
    left: 275px;
    top: 895px;
    position: absolute;
    background: #c81917;
}

#desc {
    font-size: 25px;
    height: 36px;
    padding-top: 12px;
    margin-left: -9px;
}

#num-perc-desc {
    font-size: 45px;
    line-height: 40px;
}

#percent {
    font-size: 35px;
    padding-top: 1px;
}

#center-desc{
    padding-left: 5px;
    margin: 0 auto;
    display: inline-flex;
    padding-bottom: 17px;
}

#price-off{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 871px;
    left: 255px;
    color: black;
}

#container-price {
    text-align: center;
    position: absolute;
    top: 525px;
    width: 720px;
    height: 121px;
    border-bottom: none;
    color: black;
}

#price1 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 345px;
    padding-left: 50px;
    margin: 0 auto;
    width: 720px;
}

#price-on {
    font-size: 37px;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 172px;
    color: black;
    line-height: 30px;
}

#container-price2 {
    font-family: sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#price2 {
    font-size: 100px;
    font-weight: bold;
    color: #c81917;
    text-align: center;
    margin-top: 10px;
}

#date {
    background: black;
    left: 20px;
    font-family: sans-serif;
    padding: 3px;
    font-size: 20px;
}

#img-center {
    position: absolute;
    top: 442px;
    width: 720px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-product {
    max-width: 585px; /* Aumentado de 355px */
    max-height: 475px; /* Aumentado de 300px */
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#img-bottom {
    position: absolute;
    height: 188px;
    width: 720px;
    top: 895px;
    font-weight: bold;
}

#obs-img {
    width: fit-content;
    background: white;
    position: fixed;
    left: 6px;
    top: 1255px;
    padding-right: 1px;
    padding-left: 1px;
}

#und {
    color: black;
    position: absolute;
    left: 510px;
    top: 70px;
    font-weight: bold;
    font-size: 30px;
    float: right;
    text-transform: uppercase;
}